Once you have organised all the files into your `raw_image_info.csv` file, we now need to generate the raw_label images to train our model. These will be calculated based off the raw_labels found in `raw_annotated_file_path`.

# Load dependencies

In [71]:
# %gui qt5
import torch
import torchio as tio
from torch.utils.data import DataLoader
import scipy.io
from scipy.ndimage import maximum_filter
import pandas as pd
import numpy as np
import napari
import h5py

# Generation of training data

We have volumes of micro-ct data that we are trying to label. However, the labels we currently have are 3d point locations, which isn't a format that our deep learning model can link spatially to our ct data. 

We want to convert these 3d point locations into a new "prediction volume". This is what we want our deep learning model to end up producing. It is also a format that our deep learning model can read, link spatially to our data and produce.

## Let's load in the info we need from the csv file

In [72]:
info = pd.read_csv('raw_image_info.csv')

info

,image_file_path,raw_annotated_file_path,swap_xy,flip_y,check,old_swap_xy,old_flip_y,OLD check,has correct spacing,needs_cropping_after_creation,other notes
0,dataset/images/diurnal_tarsata.nii,//home/jake/projects/mctv_resfiles/ants/diurna...,False,False,NaN,False,False,good,FALSE,False,data with incorrect spacing have irregular siz...
1,dataset/images/dampieri_20151218.nii,//home/jake/projects/mctv_resfiles/fiddlercrab...,False,False,NaN,False,False,good,FALSE,False,NaN
2,dataset/images/dampieri_20200218_male_left_167...,//home/jake/projects/mctv_resfiles/fiddlercrab...,False,False,NaN,False,False,good (possibly hard to see missing ones at edges),FALSE,False,NaN
3,dataset/images/dampieri_male_16.nii,//home/jake/projects/mctv_resfiles/fiddlercrab...,False,False,NaN,False,False,needs cropping,FALSE,True,NaN
4,dataset/images/flammula_20180307.nii,//home/jake/projects/mctv_resfiles/fiddlercrab...,False,False,NaN,False,False,good,FALSE,False,NaN
5,dataset/images/flammula_20190925_male_left.nii,//home/jake/projects/mctv_resfiles/fiddlercrab...,False,False,NaN,False,False,needs cropping,FALSE,True,NaN
6,dataset/images/flammula_20200327_female_left_1...,//home/jake/projects/mctv_resfiles/fiddlercrab...,False,False,NaN,False,False,needs cropping,FALSE,True,NaN
7,dataset/images/neohelice_20190616_1_cropped.nii,//home/jake/projects/mctv_resfiles/fiddlercrab...,False,False,NaN,False,False,needs cropping,FALSE,True,NaN
8,dataset/images/Hyperia_02_head_FEG190604_014C,//home/jake/projects/mctv_resfiles/hyperiids/h...,False,False,NaN,False,False,wrong orientation or image,FALSE,False,NaN
9,dataset/images/Hyperia_01_head_FEG190604_014B,//home/jake/projects/mctv_resfiles/hyperiids/h...,False,False,NaN,False,False,good,FALSE,False,NaN
10,dataset/images/Leptocotis_02_head_FEG190214_005b,//home/jake/projects/mctv_resfiles/hyperiids/L...,False,False,NaN,True,True,wrong orientation or image,TRUE,True,NaN
11,dataset/images/P_crassipes_FEG190213_003b_02_head,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,good,TRUE,False,NaN
12,dataset/images/P_crassipes_FEG190801_034_00001...,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,wrong orientation (needs x and z swapped inste...,TRUE,False,NaN
13,dataset/images/P_crassipes_FEG191022_077A_high...,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,Wrong image file – can’t find matching image,NaN,False,NaN
14,dataset/images/P_crassipes_FEG191022_077B.nii,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,good,TRUE,False,NaN
15,dataset/images/P_crassipes_FEG200129_099_cropped,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,False,regenerate using these settings,has weird double z axis,False,NaN
16,dataset/images/P_crassipes_FEG200205_108_crop.nii,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,wrong image,NaN,False,NaN
17,dataset/images/P_gracilis_FEG190213_003a_head.nii,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,wrong image,NaN,False,NaN
18,dataset/images/P_robisoni_FEG200205_105-head,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,wrong image,NaN,False,NaN
19,dataset/images/Paraphronima_FEG181024_03_head_...,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,wrong image,NaN,False,NaN
20,dataset/images/Paraphronima_FEG181024_head_sp_...,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,"good, but looks like rhabdoms have been sucked...",TRUE,False,NaN
21,dataset/images/Paraphronima_FEG181024_head_sp_...,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,good,TRUE,False,NaN
22,dataset/images/Paraphronima_FEG191028_078,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,"good, but very small markers",TRUE,False,NaN
23,dataset/images/Paraphronima_head_04_FEG200130_103,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,"good, but very small markers",TRUE,False,NaN
24,dataset/images/Paraphronima_head_05_FEG200130_102,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,"orientation correct, but some rhabdoms have be...",TRUE,False,NaN
25,dataset/images/Phronima_04_FEG200107_089.nii,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,False,False,good,FALSE,False,NaN
26,dataset/images/Phronima_05_FEG200107_090.nii,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,False,False,good,FALSE,False,NaN
27,dataset/images/phronima_20180403.nii,//home/jake/projects/mctv_resfiles/hyperiids/p...,False,False,NaN,False,False,"most of dorsal eyes done, needs cropping, but ...",FALSE,True,NaN
28,dataset/images/20190608_phronima,//home/jake/projects/mctv_resfiles/hyperiids/p...,False,False,NaN,True,True,good,TRUE,False,NaN
29,dataset/images/Platyscelus_02_FEG191112_082_do...,//home/jake/projects/mctv_resfiles/hyperiids/P...,False,False,NaN,True,True,wrong image or orientation,FALSE,True,NaN
30,dataset/images/psyllid_20190906_female_eye.nii,//home/jake/projects/mctv_resfiles/psyllids/ps...,False,False,NaN,False,False,good,FALSE,False,NaN
31,dataset/images/psyllid_20190906_male_eye.nii,//home/jake/projects/mctv_resfiles/psyllids/ps...,False,False,NaN,False,False,incomplete,FALSE,True,NaN
32,dataset/images/flammula_male_23_6_left,//media/jake/1tb_ssd/mctv_analysis/mctv_resfil...,False,False,NaN,True,True,incomplete and wrong orientation,TRUE,True,NaN
33,dataset/images/Brachyscelus.nii,//media/jake/1tb_ssd/mctv_analysis/mctv_resfil...,False,False,NaN,True,True,incomplete and wrong orientation,FALSE,True,NaN
34,dataset/images/platyscelus_01_downsampled.nii,//media/jake/1tb_ssd/mctv_analysis/mctv_resfil...,False,False,NaN,True,True,incomplete and wrong orientation,FALSE,True,NaN
35,dataset/images/streetsia_20180409.nii,//media/jake/1tb_ssd/mctv_analysis/mctv_resfil...,False,False,NaN,False,False,wrong orientation try regenerating using these...,FALSE,False,NaN
36,dataset/images/streetsia_20190308,//media/jake/1tb_ssd/mctv_analysis/mctv_resfil...,False,False,NaN,True,True,good but right eye only,FALSE,True,NaN
37,dataset/images/streetsia_20190325,//media/jake/1tb_ssd/mctv_analysis/mctv_resfil...,False,False,NaN,False,False,wrong orientation try regenerating using these...,FALSE,False,NaN

Let's view one of the label files to see where the data is

In [73]:
info.loc[0, 'raw_annotated_file_path']

'//home/jake/projects/mctv_resfiles/ants/diurnal_tarsata/tarsata.mat'

In [74]:
f = h5py.File(info.loc[0, 'raw_annotated_file_path'], mode='r')

f['save_dat'].visititems(lambda n, o:print(n, o))

ana <HDF5 group "/save_dat/ana" (1 members)>
ana/para <HDF5 group "/save_dat/ana/para" (11 members)>
ana/para/allow_splitting_rows_by_distance <HDF5 dataset "allow_splitting_rows_by_distance": shape (1, 1), type "<f8">
ana/para/distance_for_pointtext <HDF5 dataset "distance_for_pointtext": shape (1, 1), type "<f8">
ana/para/include_non_empty <HDF5 dataset "include_non_empty": shape (1, 1), type "<f8">
ana/para/main_marker_size <HDF5 dataset "main_marker_size": shape (1, 1), type "<f8">
ana/para/pt_th <HDF5 dataset "pt_th": shape (1, 1), type "<f8">
ana/para/row_th <HDF5 dataset "row_th": shape (1, 1), type "<f8">
ana/para/spline_stiff <HDF5 dataset "spline_stiff": shape (1, 1), type "<f8">
ana/para/spline_stiff_smooth <HDF5 dataset "spline_stiff_smooth": shape (1, 1), type "<f8">
ana/para/spline_stiff_soft_mult <HDF5 dataset "spline_stiff_soft_mult": shape (1, 1), type "<f8">
ana/para/spline_stiff_z_mult <HDF5 dataset "spline_stiff_z_mult": shape (1, 1), type "<f8">
ana/para/text_size <HDF5 dataset "text_size": shape (1, 1), type "<f8">
autosave <HDF5 group "/save_dat/autosave" (4 members)>
autosave/ctr <HDF5 dataset "ctr": shape (1, 1), type "<f8">
autosave/filectr <HDF5 dataset "filectr": shape (1, 1), type "<f8">
autosave/howmany <HDF5 dataset "howmany": shape (1, 1), type "<f8">
autosave/howoften <HDF5 dataset "howoften": shape (1, 1), type "<f8">
data <HDF5 group "/save_dat/data" (22 members)>
data/colid <HDF5 dataset "colid": shape (2,), type "<u8">
data/current_m <HDF5 dataset "current_m": shape (4, 4), type "<f8">
data/current_pad <HDF5 dataset "current_pad": shape (3, 1), type "<f8">
data/current_rotation <HDF5 dataset "current_rotation": shape (1, 1), type "<f8">
data/current_trim <HDF5 dataset "current_trim": shape (3, 1), type "<f8">
data/marked <HDF5 dataset "marked": shape (9, 5180), type "<f8">
data/rowid <HDF5 dataset "rowid": shape (2,), type "<u8">
data/search_x_weight <HDF5 dataset "search_x_weight": shape (1, 1), type "<f8">
data/search_y_weight <HDF5 dataset "search_y_weight": shape (1, 1), type "<f8">
data/search_z_weight <HDF5 dataset "search_z_weight": shape (1, 1), type "<f8">
data/shell1 <HDF5 dataset "shell1": shape (1, 1), type "<f8">
data/shell2 <HDF5 dataset "shell2": shape (1, 1), type "<f8">
data/store_marked <HDF5 dataset "store_marked": shape (9, 5180), type "<f8">
data/trans_r <HDF5 dataset "trans_r": shape (3, 6), type "<f8">
data/undo <HDF5 group "/save_dat/data/undo" (3 members)>
data/undo/dat <HDF5 group "/save_dat/data/undo/dat" (1 members)>
data/undo/dat/dat <HDF5 dataset "dat": shape (50, 1), type "|O">
data/undo/ind <HDF5 dataset "ind": shape (1, 1), type "<f8">
data/undo/op <HDF5 dataset "op": shape (50, 1), type "|O">
data/update_row_col1 <HDF5 dataset "update_row_col1": shape (1, 1), type "<f8">
data/update_row_col2 <HDF5 dataset "update_row_col2": shape (1, 1), type "<f8">
data/window_current_datam <HDF5 dataset "window_current_datam": shape (1, 1), type "<f8">
data/window_current_image_rotation <HDF5 dataset "window_current_image_rotation": shape (3, 1), type "<f8">
data/window_current_inv_datam <HDF5 dataset "window_current_inv_datam": shape (1, 1), type "<f8">
data/window_current_m <HDF5 dataset "window_current_m": shape (1, 1), type "<f8">
data/window_last_inverse <HDF5 dataset "window_last_inverse": shape (1, 1), type "<f8">
figh <HDF5 dataset "figh": shape (1, 1), type "<f8">
figh_ana <HDF5 dataset "figh_ana": shape (1, 1), type "<f8">
figh_fana <HDF5 dataset "figh_fana": shape (1, 1), type "<f8">
gd <HDF5 group "/save_dat/gd" (23 members)>
gd/ax4_zoom <HDF5 dataset "ax4_zoom": shape (1, 1), type "<f8">
gd/axorder <HDF5 dataset "axorder": shape (4, 1), type "<f8">
gd/cm_highlim <HDF5 dataset "cm_highlim": shape (1, 1), type "<f8">
gd/cm_lowlim <HDF5 dataset "cm_lowlim": shape (1, 1), type "<f8">
gd/cols <HDF5 dataset "cols": shape (3, 3), type "<f8">
gd/depthsel <HDF5 dataset "depthsel": shape (2, 1), type "<f8">
gd/imf <HDF5 dataset "imf": shape (1, 1), type "<f8">
gd/in_row_pt_dist <HDF5 dataset "in_row_pt_dist": shape (1, 1), type "<f8">
gd/markerfontsize <HDF5 dataset "markerfontsize": shape (1, 1), type "<f8">
gd/markersize <HDF5 dataset "markersize": shape (1, 1), type "<f8">
gd/out_in_val <HDF5 dataset "out_in_val": shape (1, 1), type "<f8">
gd/plot_limit_text_numbers <HDF5 dataset "plot_limit_text_numbers": shape (1, 1), type "<f8">
gd/plot_lines <HDF5 dataset "plot_lines": shape (1, 1), type "<f8">
gd/plot_text_c <HDF5 dataset "plot_text_c": shape (1, 1), type "|u1">
gd/plot_text_h <HDF5 dataset "plot_text_h": shape (1, 1), type "|u1">
gd/point_dist_expected <HDF5 dataset "point_dist_expected": shape (1, 1), type "<f8">
gd/pressed_col <HDF5 dataset "pressed_col": shape (3, 1), type "<f8">
gd/rotate_orientation <HDF5 dataset "rotate_orientation": shape (14, 1), type "<u2">
gd/select_dist <HDF5 dataset "select_dist": shape (1, 1), type "<f8">
gd/sout_in <HDF5 dataset "sout_in": shape (1, 1), type "<f8">
gd/trans <HDF5 group "/save_dat/gd/trans" (3 members)>
gd/trans/l <HDF5 dataset "l": shape (6, 1), type "|O">
gd/trans/r <HDF5 dataset "r": shape (6, 1), type "|O">
gd/trans/ra <HDF5 dataset "ra": shape (6, 1), type "|O">
gd/unpressed_col <HDF5 dataset "unpressed_col": shape (3, 1), type "<f8">
gd/use_altfigure <HDF5 dataset "use_altfigure": shape (4, 1), type "<f8">
rmfields <HDF5 group "/save_dat/rmfields" (2 members)>
rmfields/s <HDF5 dataset "s": shape (4, 1), type "|O">
rmfields/stack <HDF5 dataset "stack": shape (5, 1), type "|O">
rotation_size_limit <HDF5 dataset "rotation_size_limit": shape (1, 1), type "<f8">
rotation_size_min <HDF5 dataset "rotation_size_min": shape (1, 1), type "<f8">
savename <HDF5 dataset "savename": shape (32, 1), type "<u2">
stack <HDF5 group "/save_dat/stack" (24 members)>
stack/autobackward <HDF5 dataset "autobackward": shape (1, 1), type "<f8">
stack/autocentering <HDF5 dataset "autocentering": shape (1, 1), type "|u1">
stack/autocentering_all <HDF5 dataset "autocentering_all": shape (1, 1), type "|u1">
stack/autoforward <HDF5 dataset "autoforward": shape (1, 1), type "<f8">
stack/cl <HDF5 dataset "cl": shape (3, 1), type "<f8">
stack/crossh <HDF5 group "/save_dat/stack/crossh" (9 members)>
stack/crossh/im1_1 <HDF5 dataset "im1_1": shape (1, 6), type "<u4">
stack/crossh/im1_2 <HDF5 dataset "im1_2": shape (1, 6), type "<u4">
stack/crossh/im2_1 <HDF5 dataset "im2_1": shape (1, 6), type "<u4">
stack/crossh/im2_2 <HDF5 dataset "im2_2": shape (1, 6), type "<u4">
stack/crossh/im3_1 <HDF5 dataset "im3_1": shape (1, 6), type "<u4">
stack/crossh/im3_2 <HDF5 dataset "im3_2": shape (1, 6), type "<u4">
stack/crossh/im4_1 <HDF5 dataset "im4_1": shape (1, 6), type "<u4">
stack/crossh/im4_2 <HDF5 dataset "im4_2": shape (1, 6), type "<u4">
stack/crossh/im4_3 <HDF5 dataset "im4_3": shape (1, 6), type "<u4">
stack/current_rotation_string <HDF5 dataset "current_rotation_string": shape (2,), type "<u8">
stack/datasavename <HDF5 dataset "datasavename": shape (2,), type "<u8">
stack/fixedzoom_level <HDF5 dataset "fixedzoom_level": shape (1, 1), type "<f8">
stack/image_format <HDF5 dataset "image_format": shape (5, 1), type "<u2">
stack/local_interactive <HDF5 dataset "local_interactive": shape (1, 1), type "<f8">
stack/origin <HDF5 dataset "origin": shape (3, 1), type "<f8">
stack/rimage1 <HDF5 dataset "rimage1": shape (251, 251), type "<f4">
stack/rimage2 <HDF5 dataset "rimage2": shape (251, 251), type "<f4">
stack/rimage3 <HDF5 dataset "rimage3": shape (251, 251), type "<f4">
stack/rimage_sel1 <HDF5 dataset "rimage_sel1": shape (251, 1), type "<f8">
stack/rimage_sel2 <HDF5 dataset "rimage_sel2": shape (251, 1), type "<f8">
stack/rimage_sel3 <HDF5 dataset "rimage_sel3": shape (251, 1), type "<f8">
stack/rotate_interactive <HDF5 dataset "rotate_interactive": shape (1, 1), type "<f8">
stack/rotated <HDF5 dataset "rotated": shape (1, 1), type "<f8">
stack/savestore_cl <HDF5 dataset "savestore_cl": shape (3, 1), type "<f8">
stack/show_all_directions <HDF5 dataset "show_all_directions": shape (1, 1), type "<f8">
stack/start_with <HDF5 dataset "start_with": shape (6, 1), type "<u2">
stack/view_interactive <HDF5 dataset "view_interactive": shape (1, 1), type "<f8">

Here's the dataset

In [75]:
pd.DataFrame(np.array(f['save_dat/data/marked']))

,0,1,2,3,4,5,6,7,8,9,...,5170,5171,5172,5173,5174,5175,5176,5177,5178,5179
0,210.378869,208.715220,203.161893,201.773182,216.326074,211.377609,207.015189,202.492341,200.279329,199.304796,...,745.026416,746.956193,749.140737,752.587520,755.880528,750.993639,750.950449,748.290773,750.992589,752.272633
1,610.125062,608.291494,617.583415,627.088487,597.115077,601.899662,603.774637,614.244095,624.459194,633.980652,...,443.376608,430.567993,420.227072,411.458105,403.947978,401.989690,397.802645,439.233097,430.750563,421.386247
2,618.403081,605.820510,597.841257,598.722290,622.821452,613.526117,597.957832,588.549029,587.718511,594.389523,...,417.117119,429.199554,438.165841,448.930036,460.621231,462.513364,472.234956,424.412174,436.990685,446.607978
3,11.000000,11.000000,11.000000,11.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,...,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,77.000000,77.000000,77.000000
4,52.000000,53.000000,54.000000,55.000000,51.000000,52.000000,53.000000,54.000000,55.000000,56.000000,...,42.000000,43.000000,44.000000,45.000000,46.000000,47.000000,48.000000,43.000000,44.000000,45.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [76]:
f['save_dat']['stack']['image_format'].value.tobytes()[::2].decode()

/tmp/ipykernel_56073/1891607671.py:1: H5pyDeprecationWarning: dataset.value has been deprecated. Use dataset[()] instead.
  f['save_dat']['stack']['image_format'].value.tobytes()[::2].decode()

'dicom'

Now let's do the same thing with scipy in the case where the matlab file is an old type

In [77]:
dir = info.loc[2, 'raw_annotated_file_path']

mat = scipy.io.loadmat(dir)

file_type = mat['save_dat'][0]['stack'][0]['image_format'][0][0][0]
classification = pd.DataFrame(mat['save_dat'][0]['data'][0][0][0][0]).iloc[:,5]
points = pd.DataFrame(mat['save_dat'][0]['data'][0][0][0][0]).iloc[:,[2, 1, 0]]

In [78]:
file_type

'nifti'

In [79]:
classification

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
13914    0.0
13915    0.0
13916    0.0
13917    0.0
13918    0.0
Name: 5, Length: 13919, dtype: float64

In [80]:
points

                2           1           0
0      492.100525  456.952484  814.715515
1      480.170630  447.510213  815.730097
2      503.717560  467.951080  814.715515
3      502.127380  481.467499  814.715515
4      488.699310  472.278168  817.098267
...           ...         ...         ...
13914  222.343597  455.246357  263.753937
13915  234.833111  454.485577  257.645381
13916  284.391574  439.530726  803.305356
13917  397.746509  222.228610  389.085456
13918  240.247288  740.072203  440.675276

[13919 rows x 3 columns]

Here's the locations of the annotations in x, y and z space

In [81]:
pd.DataFrame(np.array(f['save_dat']['data']['marked'])).iloc[[2, 1, 0], :]

,0,1,2,3,4,5,6,7,8,9,...,5170,5171,5172,5173,5174,5175,5176,5177,5178,5179
2,618.403081,605.820510,597.841257,598.722290,622.821452,613.526117,597.957832,588.549029,587.718511,594.389523,...,417.117119,429.199554,438.165841,448.930036,460.621231,462.513364,472.234956,424.412174,436.990685,446.607978
1,610.125062,608.291494,617.583415,627.088487,597.115077,601.899662,603.774637,614.244095,624.459194,633.980652,...,443.376608,430.567993,420.227072,411.458105,403.947978,401.989690,397.802645,439.233097,430.750563,421.386247
0,210.378869,208.715220,203.161893,201.773182,216.326074,211.377609,207.015189,202.492341,200.279329,199.304796,...,745.026416,746.956193,749.140737,752.587520,755.880528,750.993639,750.950449,748.290773,750.992589,752.272633

Here's the category associated with the annotations

In [82]:
pd.DataFrame(np.array(f['save_dat']['data']['marked'])).iloc[5, :]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
5175    1.0
5176    1.0
5177    1.0
5178    1.0
5179    1.0
Name: 5, Length: 5180, dtype: float64

## Let's set up some helper functions to generate annotated prediction volumes for our analysis.

In [83]:
def _bool_3d_filter(array, indices, buffer=3):
    # TODO: do i need to subtract 1 to these because of differences in matlab and python indexing?
    for i in range(len(indices[0])):
        ind = (indices[0][i], indices[1][i], indices[2][i])
        x_min = max(ind[0] - buffer, 0)
        x_max = min(ind[0] + buffer, array.shape[1])
        y_min = max(ind[1] - buffer, 0)
        y_max = min(ind[1] + buffer, array.shape[2])
        z_min = max(ind[2] - buffer, 0)
        z_max = min(ind[2] + buffer, array.shape[3])
        
        array[0, x_min:x_max, y_min:y_max, z_min:z_max] = 1
    
    return array

def _load_point_data(dir, swap_xy):
    print('loading point data from .mat files...')
    # load classifications
    if h5py.is_hdf5(dir):
        f = h5py.File(dir, mode='r')
        classification = pd.DataFrame(np.array(f['save_dat']['data']['marked'])).iloc[5, :]
        file_type = f['save_dat']['stack']['image_format'].value.tobytes()[::2].decode()
        print(f'Detected {file_type} file type')
        if swap_xy:
            points = pd.DataFrame(np.array(f['save_dat']['data']['marked'])).iloc[[2, 0, 1], :].T
        else:
            points = pd.DataFrame(np.array(f['save_dat']['data']['marked'])).iloc[[2, 1, 0], :].T
    else:
        mat = scipy.io.loadmat(dir)
        classification = pd.DataFrame(mat['save_dat'][0]['data'][0][0][0][0]).iloc[:,5]
        file_type = mat['save_dat'][0]['stack'][0]['image_format'][0][0][0]
        print(f'Detected {file_type} file type')
        if swap_xy:
            points = pd.DataFrame(mat['save_dat'][0]['data'][0][0][0][0]).iloc[:,[2, 0, 1]]
        else:
            points = pd.DataFrame(mat['save_dat'][0]['data'][0][0][0][0]).iloc[:,[2, 1, 0]]
    
    points.columns = ['x', 'y', 'z']


    # convert back to numpy array and round to nearest voxel
    points = np.array(points)
    points = np.round(points).astype(int)

    # get corneas and rhabdom locations with x, y and z data
    cornea_indx = (classification == 0) | (classification == 2)
    rhabdom_indx = (classification == 1) | (classification == 3)
    cornea_locations = points[cornea_indx, :]
    rhabdom_locations = points[rhabdom_indx, :]

    return cornea_locations, rhabdom_locations

def _point_to_segmentation_vol(image, cornea_locations, rhabdom_locations, flipY):
    print('converting point data to segmentation volume...')
    # create empty matrix the size of original data
    print('creating an empty image')
    empty = image.copy().astype('bool_')
    empty[:, :, :] = 0
    
    print('copying empty images')
    corneas = empty.copy()
    rhabdoms = empty.copy()
    
#     print('assigning positions of corneas and rhabdoms')
#     corneas[
#         0,
#         cornea_locations[:, 2],
#         cornea_locations[:, 1],
#         cornea_locations[:, 0]
#     ] = 1
#     rhabdoms[
#         0,
#         rhabdom_locations[:, 2],
#         rhabdom_locations[:, 1],
#         rhabdom_locations[:, 0]
#     ] = 1
    
#     # now use a maximum filter to make points a slightly larger areak
#     # note, that maximum filter makes predictions a cube without rounded edges
#     # a gaussian filter may be more appropriate
#     print('running maximum filter')
#     corneas = maximum_filter(corneas, size=3)
#     rhabdoms = maximum_filter(rhabdoms, size=3)
    
    print('assigning positions of corneas and rhabdoms with buffer')

    # set buffer size to be relative to image spacing
    

    corneas = _bool_3d_filter(
        corneas,
        (
            cornea_locations[:, 2],
            cornea_locations[:, 1],
            cornea_locations[:, 0]
        ),
        buffer=1
    )
    
    rhabdoms = _bool_3d_filter(
        rhabdoms,
        (
            rhabdom_locations[:, 2],
            rhabdom_locations[:, 1],
            rhabdom_locations[:, 0]
        ),
        buffer=1
    )
    
    # now merge both into a single prediction volume
    # 0 = nothing
    # 1 = cornea
    # 2 = rhabdom
    print('merging cornea and rhabdom images into single volume')

    prediction = empty.astype(np.int16)
    prediction[corneas] = 1
    prediction[rhabdoms] = 2

    if flipY:
        print('Flipping Y because file was annotated with dicom')
        prediction = np.flip(prediction, 2).copy()
    
    return prediction

def create_annotated_volumes(dir, image, swap_xy, flip_y):
    cornea_locations, rhabdom_locations = _load_point_data(dir, swap_xy)
    annotated_vol = _point_to_segmentation_vol(
        image,
        cornea_locations,
        rhabdom_locations,
        flip_y
    )
    print('done.')
    return annotated_vol

In [88]:
from pathlib import Path
import os

n_rows = info.shape[0]

out_label_dir = './dataset/labels/'
out_image_dir = './dataset/images/'

plot = False

for i in range(n_rows):
    img = info.loc[i, 'image_file_path']
    label = info.loc[i, 'raw_annotated_file_path']
    # swap_xy = info.loc[i, 'swap_xy']
    # flip_y = info.loc[i, 'flip_y']

    p = Path(img)
    filename = p.stem
    out_path = out_label_dir + filename + '.nii'
    image_out_path = out_image_dir + filename + '.nii'

    if os.path.isdir(img):
        swap_xy = True
        flip_y = False
        convert_to_nifti = True
    else:
        swap_xy = False
        flip_y = False
        convert_to_nifti = False
    
    if not os.path.isfile(out_path):
        print('starting conversion of ' + filename)
        transform = tio.ToCanonical()
        img = tio.ScalarImage(
            img
        )
        ann = tio.LabelMap(
            tensor=create_annotated_volumes(
                label,
                img.data.numpy(),
                swap_xy,
                flip_y
            ),
            affine=img.affine,
            orientation=img.orientation,
            spacing=img.spacing
        )

        # convert to uint16 to save on space
        img.set_data(img.data.numpy().astype(np.uint16))
        ann.set_data(ann.data.numpy().astype(np.uint16))
        
        
        if plot:
            viewer = napari.Viewer()
            viewer.dims.ndisplay = 3 # toggle 3 dimensional view
            viewer.add_image(img.data.numpy())
            viewer.add_image(ann.data.numpy())

        # now save the label/annotation
        if convert_to_nifti:
            print('saving image to ' + image_out_path)
        img.save(image_out_path)
        
        print('saving label to ' + out_path)
        ann.save(out_path)
    else:
        print(out_path + ' has already been created, so skipping')

./dataset/labels/diurnal_tarsata.nii has already been created, so skipping
./dataset/labels/dampieri_20151218.nii has already been created, so skipping
./dataset/labels/dampieri_20200218_male_left_1676.nii has already been created, so skipping
./dataset/labels/dampieri_male_16.nii has already been created, so skipping
./dataset/labels/flammula_20180307.nii has already been created, so skipping
./dataset/labels/flammula_20190925_male_left.nii has already been created, so skipping
./dataset/labels/flammula_20200327_female_left_178_fullres_cropped.nii has already been created, so skipping
./dataset/labels/neohelice_20190616_1_cropped.nii has already been created, so skipping
starting conversion of Hyperia_02_head_FEG190604_014C

Now, that we have our raw labels and images, let's move to step 03